<div class="main">
  <div class="container">
    <ul class="breadcrumb">
    </ul>
    <form class="form-horizontal" role="form" action="/auth/signup" id="registerForm" method="POST">
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-3">
            <h2 class="text-success bold">Industry</h2>
            <div class="scroller" style="height: 510px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <% for(var i = 0 ; i < industries.length ; i ++) {%>
                        <li class="list-group-item clearfix">
                          <div class="md-radio">
                            <input type="radio" id="radio<%= i%>" name="industry" class="md-radiobtn" value="<%= industries[i].name%>">
                            <label for="radio<%= i%>">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            <%= industries[i].name%> </label>
                          </div>
                        </li>
                    <%}%>
                </ul>
            </div>
          
        </div>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-9">
          <h2 class="text-success bold">Create an account</h2>
          <div class="content-form-page">
            <div class="row">
              <div class="col-md-7 col-sm-7">
                  
                  <% if(errors != '') {%>
                    <div class="alert alert-block alert-danger fade in">
                      <button type="button" class="close" data-dismiss="alert"></button>
                      <h4 class="alert-heading">Alert!</h4>
                      <% for(var i = 0 ; i < errors.length ; i ++) {%>
                        <span><%= errors[i]%></span><br>
                      <%}%>
                    </div>
                  <%}%>
                  <fieldset>
                    <legend>Your personal details</legend>
                    <div class="form-group">
                      <label for="name" class="col-lg-4 control-label">Name <span class="require">*</span></label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="name" name="name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="surname" class="col-lg-4 control-label">Surname <span class="require">*</span></label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="surname" name="surname">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-lg-4 control-label">Phone <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                      </div>
                    <div class="form-group">
                      <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                      <div class="col-lg-8">
                        <input type="email" class="form-control" id="email" name="email">
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>Your password</legend>
                    <div class="form-group">
                      <label for="password" class="col-lg-4 control-label">Password <span class="require">*</span></label>
                      <div class="col-lg-8">
                        <input type="password" class="form-control" id="password" name="password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="confirm-password" class="col-lg-4 control-label">Re-password <span class="require">*</span></label>
                      <div class="col-lg-8">
                        <input type="password" class="form-control" id="repassword" name="repassword">
                        
                      </div>
                    </div>
                  </fieldset>
                  <div class="row">
                    <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">                        
                      <button type="submit" class="btn btn-primary">Create an account</button>
                      <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 pull-right">
                <div class="form-info">
                  <h2><em>Important</em> Information</h2>
                  <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo quat.</p>

                  <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>

                  <button type="button" class="btn btn-default">More details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </form>
  </div>
</div>
<script src="../../../js/register.js"></script>