<div class="main">
    <div class="container">
      <ul class="breadcrumb">
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Post List 
            <% if(session.membership > 0 && session.left_membership > 0) {%>
            <a href="/post/edit" class="btn btn-danger pull-right">Post</a>
            <%}%>
            <%if(session.left_membership == 0) { %>
              <button type="button" class="btn btn-danger pull-right" id="btn_post">Post</button>
            <%}%>
          </h1>
          <div class="content-page">
              <input type="hidden" id="cat_id" value="<%= selected_cat_id%>">
            <div class="row">
              <!-- BEGIN LEFT SIDEBAR -->            
              <div class="col-md-9 col-sm-9 blog-posts" id="div_posts">
                    
              </div>
              <!-- END LEFT SIDEBAR -->

              <!-- BEGIN RIGHT SIDEBAR -->            
              <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- CATEGORIES START -->
                <h2 class="no-top-space">Categories</h2>
                <div class="scroller" style="height: auto;" data-always-visible="0" data-rail-visible1="0" data-handle-color="#D7DCE2">
                    <ul class="nav sidebar-categories margin-bottom-40">
                        <% categories.forEach(function(category) {%>
                            <%if(category.id == selected_cat_id) {%>
                                <li class="active"><a href="/post/list?category=<%= category._id%>"><%= category.name%></a></li>
                            <%} else {%>
                                <li><a href="/post/list?category=<%= category._id%>"><%= category.name%></a></li>
                            <%}%>
                        <%})%>
                    
                    </ul>
                </div>
                <!-- CATEGORIES END --> 
              </div>
              <!-- END RIGHT SIDEBAR -->            
            </div>
            <div class="text-center">
                <p id="paginater">
                </p>
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>
  <script src="../../js/post/list.js"></script>