<div class="main">
    <div class="container">
      <ul class="breadcrumb">
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Post View</h1>
          <div class="content-page">
              <input type="hidden" id="post_id" value="<%= post_id%>">
            <div class="row">
              <!-- BEGIN LEFT SIDEBAR -->            
              <div class="col-md-9 col-sm-9 blog-item">
                <div id="post_div">

                </div>
                <ul class="blog-info">
                  <li><i class="fa fa-user"></i> <%= post.poster%></li>
                  <li><i class="fa fa-calendar"></i> <%= post.created_at%></li>
                  <% if(session.userid == post.poster_id) {%>
                    <li><i class="fa fa-thumbs-up" title="like"></i> <span id="like_cnt"><%= post.like%></span></li>
                    <li><i class="fa fa-thumbs-down" title="dislike"></i> <span id="dislike_cnt"><%= post.dislike%></span></li>
                  <%} else{%>
                    <li><i class="fa fa-thumbs-up" title="like" id="like_i"></i> <span id="like_cnt"><%= post.like%></span></li>
                    <li><i class="fa fa-thumbs-down" id="dislike_i" title="dislike"></i> <span id="dislike_cnt"><%= post.dislike%></span></li>
                  <%}%>
                  <li><i class="fa fa-tags"></i> <%= post.category%></li>
                </ul>
              </div>
              <!-- END LEFT SIDEBAR -->

              <!-- BEGIN RIGHT SIDEBAR -->            
              <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- CATEGORIES START -->
                <h2 class="no-top-space">Categories</h2>
                <div class="scroller" style="height: auto;" data-always-visible="0" data-rail-visible1="0" data-handle-color="#D7DCE2">
                    <ul class="nav sidebar-categories margin-bottom-40">
                        <% categories.forEach(function(category) {%>
                            <li><a href="/post/list?category=<%= category._id%>"><%= category.name%></a></li>
                        <%})%>
                    
                    </ul>
                </div>
                <!-- CATEGORIES END --> 
              </div>
              <!-- END RIGHT SIDEBAR -->            
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>
  <script src="../../js/post/view.js"></script>